<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form *ngIf="active" #villageInfoForm="ngForm" novalidate (ngSubmit)="save()">
                    <div class="modal-header kt-bg-brand">
                        <h4 class="modal-title">
                            <span *ngIf="villageInfo.id && editdisabled">{{"ViewNewVillageInfo" | localize}}: {{villageInfo.name}}</span>
                            <span *ngIf="villageInfo.id && !editdisabled">{{"EditNewVillageInfo" | localize}}: {{villageInfo.name}}</span>
                            <span *ngIf="!villageInfo.id">{{"CreateNewVillageInfo" | localize}}</span>
                        </h4>
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">   
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-3 col-sm-12">{{"StateInfoName" | localize}}</label>
                                    <div class="col-md-9 col-sm-12">
                                            <p-dropdown #stateInfoCombobox [options]="stateInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" (onChange)="getCities($event.value)"
                                            name="stateInfoId" [(ngModel)]="villageInfo.stateInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                        <validation-messages [formCtrl]="stateInfoCombobox"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-3 col-sm-12">{{"CityInfoName" | localize}}</label>
                                    <div class="col-md-9 col-sm-12">
                                        <p-dropdown #cityInfoCombobox [options]="cityInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" (onChange)="getRegions($event.value)"
                                        name="cityInfoId" [(ngModel)]="villageInfo.cityInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                    <validation-messages [formCtrl]="cityInfoCombobox"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-3 col-sm-12">{{"RegionInfoName" | localize}}</label>
                                    <div class="col-md-9 col-sm-12">
                                        <p-dropdown #regionInfoCombobox [options]="regionInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                            name="regionInfoId" [(ngModel)]="villageInfo.regionInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                        <validation-messages [formCtrl]="regionInfoCombobox"></validation-messages>
                                    </div>
                                </div>
                            </div>                                                     
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-3 col-sm-12">{{"Code" | localize}}</label>
                                    <div class="col-md-9 col-sm-12">
                                        <input #codeInput="ngModel" [(ngModel)]="villageInfo.code" autoFocus class="form-control m-input" type="text" autocomplete="new-password"  pKeyFilter="num" placeholder="{{'Code' | localize}} *" name="code" required maxlength="16"/>
                                        <validation-messages [formCtrl]="codeInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-3 col-sm-12 ">{{"Name" | localize}}</label>
                                    <div class="col-md-9 col-sm-12">
                                        <input #nameInput="ngModel" [(ngModel)]="villageInfo.name" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Name' | localize}} *" name="name" required maxlength="64"/>
                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>                                                
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!villageInfoForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                            <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    