<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form *ngIf="active" #unionInfoForm="ngForm" novalidate (ngSubmit)="save()">
                    <div class="modal-header kt-bg-brand">
                        <h4 class="modal-title">
                            <span *ngIf="unionInfo.id && editdisabled">{{"ViewNewUnionInfo" | localize}}: {{unionInfo.name}}</span>
                            <span *ngIf="unionInfo.id && !editdisabled">{{"EditNewUnionInfo" | localize}}: {{unionInfo.name}}</span>
                            <span *ngIf="!unionInfo.id">{{"CreateNewUnionInfo" | localize}}</span>
                        </h4>
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p-fieldset class="col-sm-12" [legend]="l('UnionInfoLable')" [toggleable]="true">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-4 col-sm-12">{{"StateInfoName" | localize}} *</label>
                                                <div class="col-md-8 col-sm-12">
                                                        <p-dropdown #stateInfoCombobox="ngModel" [options]="stateInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                                        name="stateInfoId" [(ngModel)]="unionInfo.stateInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                                    <validation-messages [formCtrl]="stateInfoCombobox"></validation-messages>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="row">
                                                <label class="col-form-label col-md-4 col-sm-12">{{"UnionName" | localize}} *</label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input #unionNameInput="ngModel" [(ngModel)]="unionInfo.unionName" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'UnionName' | localize}} *" name="unionName" required maxlength="64"/>
                                                <validation-messages [formCtrl]="unionNameInput"></validation-messages>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="row">
                                                <label class="col-form-label col-md-4 col-sm-12">{{"Code" | localize}} *</label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input #codeInput="ngModel" [readonly]="unionInfo.id" [(ngModel)]="unionInfo.code" autoFocus class="kt-align-right form-control m-input" type="text" autocomplete="new-password"  pKeyFilter="num" placeholder="{{'Code' | localize}} *" name="code" required maxlength="16"/>
                                                <validation-messages [formCtrl]="codeInput"></validation-messages>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>                   

                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <div class="row">
                                                <label class="col-form-label col-md-2 col-sm-12">{{"Address" | localize}}</label>
                                                <div class="col-md-10 col-sm-12">
                                                    <textarea rows="2" #addressInput="ngModel" [(ngModel)]="unionInfo.address" pInputTextarea autoResize="autoResize" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Address' | localize}}" name="address" maxlength="512"></textarea>
                                                    <validation-messages [formCtrl]="addressInput"></validation-messages>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">                                
                                        <div class="form-group col-md-6 col-sm-12">
                                            <div class="row">
                                                <label class="col-form-label col-md-4 col-sm-12">{{"PostalCode" | localize}} *</label>
                                                <div class="col-md-8 col-sm-12">
                                                    <p-inputMask [style]="{'width':'100%'}" #postalCodeInput="ngModel" mask="99999-99999" [(ngModel)]="unionInfo.postalCode" type="num" autocomplete="new-password" name="postalCode" placeholder="99999-99999" length="10" required></p-inputMask>
                                                    <validation-messages [formCtrl]="postalCodeInput"></validation-messages>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <div class="row">
                                                <label class="col-form-label col-md-4 col-sm-12">{{"Mobile" | localize}}</label>
                                                <div class="col-md-8 col-sm-12">
                                                    <p-inputMask [style]="{'width':'100%'}" #phoneInput="ngModel" mask="0-999-999-9999" [(ngModel)]="unionInfo.phone" type="num" autocomplete="new-password" name="phone" placeholder="0-912-111-2233" length="11" required></p-inputMask>
                                                    <validation-messages [formCtrl]="phoneInput"></validation-messages>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="form-group col-md-6 col-sm-12">
                                                <div class="row">
                                                    <label class="col-form-label col-md-4 col-sm-12">{{"Name" | localize}} *</label>
                                                    <div class="col-md-8 col-sm-12">
                                                        <input #nameInput="ngModel" [(ngModel)]="unionInfo.name" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Name' | localize}} *"  pattern="[^0-9]*" name="name" required maxlength="64"/>
                                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <div class="row">
                                                    <label class="col-form-label col-md-4 col-sm-12">{{"Family" | localize}} *</label>
                                                    <div class="col-md-8 col-sm-12">
                                                        <input #familyInput="ngModel" [(ngModel)]="unionInfo.family" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Family' | localize}} *"  pattern="[^0-9]*" name="family" required maxlength="64"/>
                                                        <validation-messages [formCtrl]="familyInput"></validation-messages>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6 col-sm-12">
                                                <div class="row">
                                                    <label class="col-form-label col-md-4 col-sm-12">{{"NationalCode" | localize}} *</label>
                                                    <div class="col-md-8 col-sm-12">
                                                        <p-inputMask [style]="{'width':'100%'}" (onBlur)="checkNationalCode()" #nationalCodeInput="ngModel" mask="999-999999-9" [(ngModel)]="unionInfo.nationalCode" type="num" autocomplete="new-password" name="nationalCode" placeholder="128-111456-2" length="10" required></p-inputMask>
                                                        <validation-messages [formCtrl]="nationalCodeInput"></validation-messages>
                                                        <div class="form-control-feedback ng-star-inserted" *ngIf="!this.nationalCodeValid">
                                                            کد ملی معتیر نیست
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                </p-fieldset>                                
                            </div>
                        </div>
                                                     
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!unionInfoForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                            <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    