<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form *ngIf="active" #speciesInfoForm="ngForm" novalidate (ngSubmit)="save()">
                    <div class="modal-header kt-bg-brand">
                        <h4 class="modal-title">
                            <span *ngIf="speciesInfo.id && editdisabled">{{"ViewNewSpeciesInfo" | localize}}: {{speciesInfo.name}}</span>
                            <span *ngIf="speciesInfo.id && !editdisabled">{{"EditNewSpeciesInfo" | localize}}: {{speciesInfo.name}}</span>
                            <span *ngIf="!speciesInfo.id">{{"CreateNewSpeciesInfo" | localize}}</span>
                        </h4>
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-3 col-sm-12 text-right">{{"Code" | localize}}</label>
                                    <div class="col-md-9 col-sm-12">
                                        <input class="form-control" type="text" (keypress)="numberOnly($event)" im-insert="true" name="code" [(ngModel)]="speciesInfo.code" required maxlength="32">                                    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-3 col-sm-12 text-right">{{"Name" | localize}}</label>
                                    <div class="col-md-9 col-sm-12">
                                        <input #nameInput class="form-control" type="text" im-insert="true" name="name" [(ngModel)]="speciesInfo.name" required maxlength="32">                                    
                                    </div>
                                </div>
                            </div>
                        </div>                                                
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                        <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!speciesInfoForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    