<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Contractor" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{"ContractorHeaderInfo" | localize}}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="createContractor()" class="btn btn-primary"><i class="fa fa-plus"></i> {{"CreateNewContractor" | localize}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <form class="kt-form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getContractor()" class="btn btn-primary" type="submit"><i
                                                        class="flaticon-search-1"
                                                        [attr.aria-label]="l('Search')"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getContractor($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 90px" pSortableColumn="institution">
                                            {{'Institution' | localize}}
                                            <p-sortIcon field="institution"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="subInstitution">
                                            {{'SubInstitution' | localize}}
                                            <p-sortIcon field="subInstitution"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="address">
                                            {{'Address' | localize}}
                                            <p-sortIcon field="address"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="postalCode">
                                            {{'PostalCode' | localize}}
                                            <p-sortIcon field="postalCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="code">
                                            {{'Code' | localize}}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="nationalCode">
                                            {{'NationalCode' | localize}}
                                            <p-sortIcon field="nationalCode"></p-sortIcon>
                                        </th> 
                                        <th style="width: 90px" pSortableColumn="birthDate">
                                            {{'BirthDate' | localize}}
                                            <p-sortIcon field="birthDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="name">
                                            {{'Name' | localize}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="family">
                                            {{'Family' | localize}}
                                            <p-sortIcon field="family"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="phone">
                                            {{'Phone' | localize}}
                                            <p-sortIcon field="phone"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="email">
                                            {{'Email' | localize}}
                                            <p-sortIcon field="email"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="firmName">
                                            {{'FirmName' | localize}}
                                            <p-sortIcon field="firmName"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="firmRegNumber">
                                            {{'FirmRegNumber' | localize}}
                                            <p-sortIcon field="firmRegNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="firmEstablishmentYear">
                                            {{'FirmEstablishmentYear' | localize}}
                                            <p-sortIcon field="firmEstablishmentYear"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="fullTimeStaffDiploma">
                                            {{'FullTimeStaffDiploma' | localize}}
                                            <p-sortIcon field="fullTimeStaffDiploma"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="fullTimeStaffAssociateDegree">
                                            {{'FullTimeStaffAssociateDegree' | localize}}
                                            <p-sortIcon field="fullTimeStaffAssociateDegree"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="fullTimeStaffBachelorAndUpper">
                                            {{'FullTimeStaffBachelorAndUpper' | localize}}
                                            <p-sortIcon field="fullTimeStaffBachelorAndUpper"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="partialTimeStaffDiploma">
                                            {{'PartialTimeStaffDiploma' | localize}}
                                            <p-sortIcon field="partialTimeStaffDiploma"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="partialTimeStaffAssociateDegree">
                                            {{'PartialTimeStaffAssociateDegree' | localize}}
                                            <p-sortIcon field="partialTimeStaffAssociateDegree"></p-sortIcon>
                                        </th>
                                        <th style="width: 90px" pSortableColumn="partialTimeStaffBachelorAndUpper">
                                            {{'PartialTimeStaffBachelorAndUpper' | localize}}
                                            <p-sortIcon field="partialTimeStaffBachelorAndUpper"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px">
                                            <!-- [hidden]="!(['Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete'] | permissionAny)"> -->
                                            {{'Actions' | localize}}</th>    
                                        <th style="width: 100px" pSortableColumn="creationTime">
                                            {{'CreationTime' | localize}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>                                    
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>                                        
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'Institution' | localize}}</span>
                                            {{record.institution}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'SubInstitution' | localize}}</span>
                                            {{record.subInstitution}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'Address' | localize}}</span>
                                            {{record.address}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'PostalCode' | localize}}</span>
                                            {{record.postalCode}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'Code' | localize}}</span>
                                            {{record.code}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'NationalCode' | localize}}</span>
                                            {{record.nationalCode}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'BirthDate' | localize}}</span>
                                            {{record.birthDate}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'Name' | localize}}</span>
                                            {{record.name}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'Family' | localize}}</span>
                                            {{record.family}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'Phone' | localize}}</span>
                                            {{record.phone}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'Email' | localize}}</span>
                                            {{record.email}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'FirmName' | localize}}</span>
                                            {{record.firmName}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'FirmRegNumber' | localize}}</span>
                                            {{record.firmRegNumber}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'FirmEstablishmentYear' | localize}}</span>
                                            {{record.firmEstablishmentYear}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'FullTimeStaffDiploma' | localize}}</span>
                                            {{record.fullTimeStaffDiploma}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'FullTimeStaffAssociateDegree' | localize}}</span>
                                            {{record.fullTimeStaffAssociateDegree}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'FullTimeStaffBachelorAndUpper' | localize}}</span>
                                            {{record.fullTimeStaffBachelorAndUpper}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'PartialTimeStaffDiploma' | localize}}</span>
                                            {{record.partialTimeStaffDiploma}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'PartialTimeStaffAssociateDegree' | localize}}</span>
                                            {{record.partialTimeStaffAssociateDegree}}
                                        </td>
                                        <td style="width: 90px">
                                            <span class="ui-column-title"> {{'PartialTimeStaffBachelorAndUpper' | localize}}</span>
                                            {{record.partialTimeStaffBachelorAndUpper}}
                                        </td>
                                        <td style="width: 130px">
                                            <!-- [hidden]="!(['Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete'] | permissionAny)"> -->
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;"
                                                            (click)="createOrEditContractorModal.show(record.id)">{{'Edit' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"
                                                            (click)="deleteContractor(record)">{{'Delete' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>                                      
                                        <td style="width: 100px">
                                            <span class="ui-column-title"> {{'CreationTime' | localize}}</span>
                                             {{record.creationTime | momentFormat:'L'}} 
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getContractor($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditContractorModal #createOrEditContractorModal (modalSave)="getContractor()"></createOrEditContractorModal>
    </div>
</div>