<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #contractorForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header kt-bg-brand">
                    <h4 class="modal-title">
                        <span *ngIf="contractor.id && editdisabled">{{"ViewNewContractor" | localize}}: {{contractor.name}}</span>
                        <span *ngIf="contractor.id && !editdisabled">{{"EditNewContractor" | localize}}: {{contractor.name}}</span>
                        <span *ngIf="!contractor.id">{{"CreateNewContractor" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p-fieldset class="col-sm-12" [legend]="l('Address')" [toggleable]="true">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"StateInfoName" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                    <p-dropdown #stateInfoCombobox="ngModel" [options]="stateInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" (onChange)="getCities($event.value)"
                                                    name="stateInfoId" [(ngModel)]="contractor.stateInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                                <validation-messages [formCtrl]="stateInfoCombobox"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"CityInfoName" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                <p-dropdown #cityInfoCombobox="ngModel" [options]="cityInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" (onChange)="getRegions($event.value)"
                                                name="cityInfoId" [(ngModel)]="contractor.cityInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                            <validation-messages [formCtrl]="cityInfoCombobox"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"RegionInfoName" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <p-dropdown #regionInfoCombobox="ngModel" [options]="regionInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" (onChange)="getVillages($event.value)"
                                                    name="regionInfoId" [(ngModel)]="contractor.regionInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')"></p-dropdown>
                                                <validation-messages [formCtrl]="regionInfoCombobox"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"VillageInfoName" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <p-dropdown #villageInfoCombobox="ngModel" [options]="villageInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" (onChange)="setInstitution($event.value)"
                                                    name="villageInfoId" [(ngModel)]="contractor.villageInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')"></p-dropdown>
                                                <validation-messages [formCtrl]="villageInfoCombobox"></validation-messages>
                                            </div>
                                        </div>
                                    </div>        
                                </div>

                                <div class="row">
                                    
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"Institution" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input  [ngStyle]="{'border':'0px'}" #institutionInput="ngModel" readonly [(ngModel)]="contractor.institution" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Institution' | localize}} *" name="institution" required maxlength="64"/>
                                                <validation-messages [formCtrl]="institutionInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>                                                            
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"SubInstitution" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                <p-dropdown #unionInfoCombobox="ngModel" [options]="unionInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" (onChange)="setSubInstitution($event.value)"
                                                    name="unionInfoId" [(ngModel)]="contractor.unionInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                                <validation-messages [formCtrl]="unionInfoCombobox"></validation-messages>
                                            </div>
                                        </div>
                                    </div>                                                                
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-2 col-sm-12">{{"Address" | localize}}</label>
                                            <div class="col-md-10 col-sm-12">
                                                <textarea rows="2" #addressInput="ngModel" [(ngModel)]="contractor.address" pInputTextarea autoResize="autoResize" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Address' | localize}}" name="address" maxlength="512"></textarea>
                                                <validation-messages [formCtrl]="addressInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">                                
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"PostalCode" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                <p-inputMask [style]="{'width':'100%'}" #postalCodeInput="ngModel" mask="99999-99999" [(ngModel)]="contractor.postalCode" type="num" autocomplete="new-password" name="postalCode" placeholder="99999-99999" length="10" required></p-inputMask>
                                                <validation-messages [formCtrl]="postalCodeInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <div class="col-sm-12">
                            <p-fieldset class="col-sm-12" [legend]="l('ContractorInfo')" [toggleable]="true">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-3 col-sm-12">{{"UniqueCodeContractor" | localize}}</label>
                                            <div class="col-md-9 col-sm-12">
                                                <input #codeInput="ngModel" [ngStyle]="{'border':'0px'}" readonly [(ngModel)]="contractor.code" autoFocus class="kt-align-right form-control m-input" type="text" autocomplete="new-password"  pKeyFilter="num" placeholder="{{'UniqueCodeContractor' | localize}}" name="code" maxlength="16"/>
                                            <validation-messages [formCtrl]="codeInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"NationalCode" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                <p-inputMask [style]="{'width':'100%'}" (onBlur)="checkNationalCode()" #nationalCodeInput="ngModel" mask="999-999999-9" [(ngModel)]="contractor.nationalCode" type="num" autocomplete="new-password" name="nationalCode" placeholder="128-111456-2" length="10" required></p-inputMask>
                                                <validation-messages [formCtrl]="nationalCodeInput"></validation-messages>
                                                <div class="form-control-feedback ng-star-inserted" *ngIf="!this.nationalCodeValid">
                                                    کد ملی معتیر نیست
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"BirthDate" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                    <input #birthDateTempInput="ngModel" class="kt-align-right form-control" type="text" [(ngModel)]="birthDateTemp" name="birthDateTemp" maxlength="10" autocomplete="new-password" placeholder="1398/01/01" pattern="^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])$" required/>
                                                    <validation-messages [formCtrl]="birthDateTempInput"></validation-messages>
                                            </div>
                                        </div>                                
                                    </div> 
                                </div>                        
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"Name" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input #nameInput="ngModel" [(ngModel)]="contractor.name" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Name' | localize}} *"  pattern="[^0-9]*" name="name" required maxlength="64"/>
                                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"Family" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input #familyInput="ngModel" [(ngModel)]="contractor.family" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Family' | localize}} *"  pattern="[^0-9]*" name="family" required maxlength="64"/>
                                                <validation-messages [formCtrl]="familyInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"Mobile" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <p-inputMask [style]="{'width':'100%'}" #phoneInput="ngModel" mask="0-999-999-9999" [(ngModel)]="contractor.phone" type="num" autocomplete="new-password" name="phone" placeholder="0-912-111-2233" length="11"></p-inputMask>
                                                <validation-messages [formCtrl]="phoneInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"Email" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input #emailInput="ngModel" class="form-control" type="email" placeholder="{{'Email' | localize}}" [(ngModel)]="contractor.email" name="email" maxlength="256" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" />
                                                <validation-messages [formCtrl]="emailInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <div class="col-sm-12">
                            <p-fieldset class="col-sm-12" [legend]="l('FirmInfo')" [toggleable]="true">
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"FirmType" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                    <p-dropdown #firmTypeCombobox="ngModel" [options]="firmTypesSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                                    name="firmTypeId" [(ngModel)]="contractor.firmTypeId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                                <validation-messages [formCtrl]="firmTypeCombobox"></validation-messages>
                                            </div>
                                        </div>                                
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"FirmName" | localize}} *</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input #firmNameInput="ngModel" [(ngModel)]="contractor.firmName" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'FirmName' | localize}} *" name="firmName" required maxlength="64"/>
                                                <validation-messages [formCtrl]="firmNameInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>                                                              
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"FirmRegNumber" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input [style]="{'width':'100%'}" #firmRegNumberInput="ngModel" [(ngModel)]="contractor.firmRegNumber" autoFocus class="kt-align-right form-control m-input" type="text" autocomplete="new-password"  pKeyFilter="num" placeholder="{{'FirmRegNumber' | localize}}" name="firmRegNumber" maxlength="16"/>
                                            <validation-messages [formCtrl]="firmRegNumberInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"FirmEstablishmentYear" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <p-inputMask [style]="{'width':'100%'}" #firmEstablishmentYearInput="ngModel" mask="1999" [(ngModel)]="contractor.firmEstablishmentYear" type="text" autocomplete="new-password" name="firmEstablishmentYear" placeholder="1398" length="4"></p-inputMask>
                                                <validation-messages [formCtrl]="firmEstablishmentYearInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </p-fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p-fieldset [legend]="l('FullTimeStaff')" [toggleable]="true">
                                <div class="row">                        
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"FullTimeStaffDiploma" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                    <input class="form-control" type="text" name="fullTimeStaffDiploma" [(ngModel)]="contractor.fullTimeStaffDiploma" pInputText  pKeyFilter="pint" [placeholder]="l('FullTimeStaffDiploma')" maxlength="32">
                                            </div>
                                        </div>
                                    </div>                                               
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"FullTimeStaffAssociateDegree" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                    <input class="form-control" type="text" name="fullTimeStaffAssociateDegree" [(ngModel)]="contractor.fullTimeStaffAssociateDegree" pInputText  pKeyFilter="pint" [placeholder]="l('FullTimeStaffAssociateDegree')" maxlength="32">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"FullTimeStaffBachelorAndUpper" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                    <input class="form-control" type="text" name="fullTimeStaffBachelorAndUpper" [(ngModel)]="contractor.fullTimeStaffBachelorAndUpper" pInputText  pKeyFilter="pint" [placeholder]="l('FullTimeStaffBachelorAndUpper')" maxlength="32">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p-fieldset [legend]="l('PartialTimeStaff')" [toggleable]="true">
                                <div class="row"> 
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"PartialTimeStaffDiploma" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input class="form-control" type="text" name="partialTimeStaffDiploma" [(ngModel)]="contractor.partialTimeStaffDiploma" pInputText  pKeyFilter="pint" [placeholder]="l('PartialTimeStaffDiploma')" maxlength="32">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"PartialTimeStaffAssociateDegree" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input class="form-control" type="text" name="partialTimeStaffAssociateDegree" [(ngModel)]="contractor.partialTimeStaffAssociateDegree" pInputText  pKeyFilter="pint" [placeholder]="l('PartialTimeStaffAssociateDegree')" maxlength="32">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <label class="col-form-label col-md-4 col-sm-12">{{"PartialTimeStaffBachelorAndUpper" | localize}}</label>
                                            <div class="col-md-8 col-sm-12">
                                                <input class="form-control" type="text" name="partialTimeStaffBachelorAndUpper" [(ngModel)]="contractor.partialTimeStaffBachelorAndUpper" pInputText  pKeyFilter="pint" [placeholder]="l('PartialTimeStaffBachelorAndUpper')" maxlength="32">
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                                                                        
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12">
                        <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!contractorForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                        <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
