<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #contractorForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header kt-bg-brand">
                    <h4 class="modal-title">
                        <span *ngIf="contractor.id && editdisabled">{{"ViewNewContractor" | localize}}: {{contractor.name}}</span>
                        <span *ngIf="contractor.id && !editdisabled">{{"EditNewContractor" | localize}}: {{contractor.name}}</span>
                        <span *ngIf="!contractor.id">{{"CreateNewContractor" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p-fieldset class="kt-padding-0" [legend]="l('Address')" [toggleable]="true">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"Institution" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="institution" [(ngModel)]="contractor.institution" pInputText  pKeyFilter="{/^[^0-9]+$/}"  [placeholder]="l('Institution')" required maxlength="32">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"SubInstitution" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="subInstitution" [(ngModel)]="contractor.subInstitution" pInputText  pKeyFilter="/^[^0-9]+$/"  [placeholder]="l('SubInstitution')" maxlength="32">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">                        
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-2 col-sm-12 text-right">{{"Address" | localize}}</label>
                                    <div class="col-md-10 col-sm-12">
                                        <textarea class="form-control" rows="2" name="address" [(ngModel)]="contractor.address" pInputTextarea autoResize="autoResize" [placeholder]="l('Address')" maxlength="256"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-2 col-sm-12 text-right">{{"PostalCode" | localize}}</label>
                                    <div class="col-md-4 col-sm-12">
                                        <p-inputMask mask="99999-99999"  name="postalCode" [(ngModel)]="contractor.postalCode" placeholder="99999-99999" maxlength="10"></p-inputMask>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>

                    <p-fieldset [legend]="l('ContractorInfo')" [toggleable]="true">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"NationalCode" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask mask="999-999999-9"  name="nationalCode" [(ngModel)]="contractor.nationalCode" placeholder="999-999999-9" required length="10"></p-inputMask>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"BirthDate" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <primeng-datepicker name="birthDate" [(ngModel)]="contractor.birthDate" [isJalali]="true" required></primeng-datepicker>
                                    </div>
                                </div>                                
                            </div> 
                        </div>                        
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"Name" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="name" [(ngModel)]="contractor.name" pInputText  pKeyFilter="/^[^0-9]+$/" [placeholder]="l('Name')" required maxlength="32">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"Family" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="family" [(ngModel)]="contractor.family" pInputText  pKeyFilter="/^[^0-9!]+$/" [placeholder]="l('Family')" required maxlength="32">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"Phone" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask mask="0-999-999-9999"  name="phone" [(ngModel)]="contractor.phone" placeholder="0-999-999-9999" length="11"></p-inputMask>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"Email" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="email" [(ngModel)]="contractor.email" pInputText  pKeyFilter="email" placeholder="*@*.*"  maxlength="32">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset [legend]="l('FirmInfo')" [toggleable]="true">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"FirmType" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                            <p-dropdown #firmTypeCombobox [options]="firmTypesSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                            name="firmTypeId" [(ngModel)]="contractor.firmTypeId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                        <validation-messages [formCtrl]="firmTypeCombobox"></validation-messages>
                                    </div>
                                </div>                                
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"FirmName" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" im-insert="true" name="firmName" [(ngModel)]="contractor.firmName" required maxlength="32">                                    
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"FirmRegNumber" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="firmRegNumber" [(ngModel)]="contractor.firmRegNumber" pInputText  pKeyFilter="pint" [placeholder]="l('FirmRegNumber')" maxlength="32">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"FirmEstablishmentYear" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask mask="1999"  name="firmEstablishmentYear" [(ngModel)]="contractor.firmEstablishmentYear" placeholder="1999" length="4"></p-inputMask>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset [legend]="l('FullTimeStaff')" [toggleable]="true">
                        <div class="row">                        
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"FullTimeStaffDiploma" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                            <input class="form-control" type="text" name="fullTimeStaffDiploma" [(ngModel)]="contractor.fullTimeStaffDiploma" pInputText  pKeyFilter="pint" [placeholder]="l('FullTimeStaffDiploma')" maxlength="32">
                                    </div>
                                </div>
                            </div>                                               
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"FullTimeStaffAssociateDegree" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                            <input class="form-control" type="text" name="fullTimeStaffAssociateDegree" [(ngModel)]="contractor.fullTimeStaffAssociateDegree" pInputText  pKeyFilter="pint" [placeholder]="l('FullTimeStaffAssociateDegree')" maxlength="32">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"FullTimeStaffBachelorAndUpper" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                            <input class="form-control" type="text" name="fullTimeStaffBachelorAndUpper" [(ngModel)]="contractor.fullTimeStaffBachelorAndUpper" pInputText  pKeyFilter="pint" [placeholder]="l('FullTimeStaffBachelorAndUpper')" maxlength="32">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset [legend]="l('PartialTimeStaff')" [toggleable]="true">
                        <div class="row"> 
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"PartialTimeStaffDiploma" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="partialTimeStaffDiploma" [(ngModel)]="contractor.partialTimeStaffDiploma" pInputText  pKeyFilter="pint" [placeholder]="l('PartialTimeStaffDiploma')" maxlength="32">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"PartialTimeStaffAssociateDegree" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="partialTimeStaffAssociateDegree" [(ngModel)]="contractor.partialTimeStaffAssociateDegree" pInputText  pKeyFilter="pint" [placeholder]="l('PartialTimeStaffAssociateDegree')" maxlength="32">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"PartialTimeStaffBachelorAndUpper" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="partialTimeStaffBachelorAndUpper" [(ngModel)]="contractor.partialTimeStaffBachelorAndUpper" pInputText  pKeyFilter="pint" [placeholder]="l('PartialTimeStaffBachelorAndUpper')" maxlength="32">
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </p-fieldset>
                                                                        
                        <!-- <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <label class="col-form-label col-md-5 col-sm-12">{{"Code" | localize}}</label>
                                <div class="col-md-7 col-sm-12">
                                    <input class="form-control" type="text" (keypress)="numberOnly($event)" im-insert="true" name="code" [(ngModel)]="contractor.code" required maxlength="32">                                    
                                </div>
                            </div>
                        </div> -->
                                                                        
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                    <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!contractorForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
