<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">

                <div class="kt-portlet__head kt-portlet--skin-solid kt-portlet-- kt-bg-brand">
                    <div class="kt-portlet__head-label">
                          
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon2-graph"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            <span>{{"HerdCertificate" | localize}}</span>
                        </h3>                        
                    </div>
                   
                </div>

                <div class="kt-portlet__body kt-padding-0">
                    
                    <div class="row align-items-center kt-margin-0">
                        <div class="form-group col-md-6 col-sm-12">
                            <div class="row">
                                <label class="col-form-label col-md-4 col-sm-12">{{"HerdInfo" | localize}} *</label>
                                <div class="col-md-8 col-sm-12">
                                    <p-dropdown #herdCombobox="ngModel" [options]="herdsSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                        name="herdId" [(ngModel)]="herdId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <button type="button" [disabled]="!herdId" data-toggle="tooltip" data-placement="top" [title]="l('Ok')" (click)="herdCertificate(herdId)" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Ok" | localize}}</span></button>
                        </div> 
                        <div dir="ltr" class="col-sm-12"> 
                            <div id="viewer"></div>
                        </div>
                    </div>
                </div>

                <div class="kt-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>