<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form *ngIf="active" #plaqueOfficerForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header kt-bg-brand">
                    <h4 class="modal-title">
                        <span *ngIf="plaqueOfficer.id && editdisabled">{{"ViewNewPlaqueOfficer" | localize}}: {{plaqueOfficer.name}}</span>
                        <span *ngIf="plaqueOfficer.id && !editdisabled">{{"EditNewPlaqueOfficer" | localize}}: {{plaqueOfficer.name}}</span>
                        <span *ngIf="!plaqueOfficer.id">{{"CreateNewPlaqueOfficer" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">                        
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <label class="col-form-label col-md-3 col-sm-12">{{"Officer" | localize}}</label>
                                <div class="col-md-9 col-sm-12">
                                        <p-dropdown #officerCombobox [options]="officersSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                        name="officerId" [(ngModel)]="plaqueOfficer.officerId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                    <validation-messages [formCtrl]="officerCombobox"></validation-messages>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <label class="col-form-label col-md-3 col-sm-12">{{"SpeciesInfo" | localize}}</label>
                                <div class="col-md-9 col-sm-12">
                                        <p-dropdown #speciesInfoCombobox [options]="speciesInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                        name="speciesInfoId" [(ngModel)]="plaqueOfficer.speciesInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                    <validation-messages [formCtrl]="speciesInfoCombobox"></validation-messages>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <label class="col-form-label col-md-3 col-sm-12">{{"SetDate" | localize}} *</label>
                                <div class="col-md-9 col-sm-12">
                                    <primeng-datepicker [style]="{'width':'100%'}" #setTimeInput="ngModel" name="setTime" [(ngModel)]="plaqueOfficer.setTime" [isJalali]="true" required></primeng-datepicker>
                                    <validation-messages [formCtrl]="setTimeInput"></validation-messages>
                                </div>
                            </div>                                
                        </div> 
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <label class="col-form-label col-md-3 col-sm-12">{{"PlaqueCount" | localize}}</label>
                                <div class="col-md-9 col-sm-12">
                                    <input #plaqueCountInput="ngModel" [(ngModel)]="plaqueOfficer.plaqueCount" autoFocus class="kt-align-right form-control m-input" type="text" autocomplete="new-password"  pKeyFilter="num" placeholder="{{'PlaqueCount' | localize}} *" name="plaqueCount" required maxlength="15"/>
                                <validation-messages [formCtrl]="plaqueCountInput"></validation-messages>
                                </div>
                            </div>
                        </div>                   
                    </div>                                                
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12">
                        <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!plaqueOfficerForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                        <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    