<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #officerForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header kt-bg-brand">
                    <h4 class="modal-title">
                        <span *ngIf="officer.id && editdisabled">{{"ViewNewOfficer" | localize}}: {{officer.name}}</span>
                        <span *ngIf="officer.id && !editdisabled">{{"EditNewOfficer" | localize}}: {{officer.name}}</span>
                        <span *ngIf="!officer.id">{{"CreateNewOfficer" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p-fieldset class="kt-padding-0" [legend]="l('OfficerInfo')" [toggleable]="true">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-3 col-sm-12">{{"UniqueCodeOfficer" | localize}}</label>
                                    <div class="col-md-9 col-sm-12">
                                        <input #codeInput="ngModel" [ngStyle]="{'border':'0px'}" readonly [(ngModel)]="officer.code" autoFocus class="kt-align-right form-control m-input" type="text" autocomplete="new-password"  pKeyFilter="num" placeholder="{{'UniqueCodeOfficer' | localize}}" name="code" maxlength="16"/>
                                    <validation-messages [formCtrl]="codeInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"NationalCode" | localize}} *</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask [style]="{'width':'100%'}" #nationalCodeInput="ngModel" mask="999-999999-9" [(ngModel)]="officer.nationalCode" type="text" autocomplete="new-password" name="nationalCode" placeholder="128-111456-2" length="10" required></p-inputMask>
                                        <validation-messages [formCtrl]="nationalCodeInput"></validation-messages>
                                    </div>
                                </div>
                            </div>       
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"BirthDate" | localize}} *</label>
                                    <div class="col-md-8 col-sm-12">
                                            <p-inputMask [style]="{'width':'100%'}" #birthDateTempInput="ngModel" mask="9999/99/99" [(ngModel)]="birthDateTemp" type="text" autocomplete="new-password" name="birthDateTemp" placeholder="1398/01/01" length="8" required></p-inputMask>
                                        <validation-messages [formCtrl]="birthDateTempInput"></validation-messages>
                                    </div>
                                </div>                                
                            </div>                                                   
                        </div>  
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"Name" | localize}} *</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input #nameInput="ngModel" [(ngModel)]="officer.name" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Name' | localize}} *"  pattern="[^0-9]*" name="name" required maxlength="64"/>
                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"Family" | localize}} *</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input #familyInput="ngModel" [(ngModel)]="officer.family" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Family' | localize}} *"  pattern="[^0-9]*" name="family" required maxlength="64"/>
                                        <validation-messages [formCtrl]="familyInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"ّFatherName" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input #fatherNameInput="ngModel" [(ngModel)]="officer.fatherName" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'FatherName' | localize}}" name="fatherName" maxlength="64"/>
                                        <validation-messages [formCtrl]="fatherNameInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"IdNo" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input #idNoInput="ngModel" [(ngModel)]="officer.idNo" autoFocus class="kt-align-right form-control m-input" type="text" autocomplete="new-password"  pKeyFilter="num" placeholder="{{'IdNo' | localize}}" name="idNo" maxlength="10"/>
                                    <validation-messages [formCtrl]="idNoInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>                                               
                    </p-fieldset>

                    <p-fieldset [legend]="l('OfficerInfoAddress')" [toggleable]="true">                         
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"MobileNumber" | localize}} *</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask [style]="{'width':'100%'}" #mobileNumberInput="ngModel" mask="0-999-999-9999" [(ngModel)]="officer.mobileNumber" type="text" autocomplete="new-password" name="mobileNumber" placeholder="0-912-111-2233" length="11" requred></p-inputMask>
                                        <validation-messages [formCtrl]="mobileNumberInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"WorkNumber" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask [style]="{'width':'100%'}" #workNumberInput="ngModel" mask="0-999-999-9999" [(ngModel)]="officer.workNumber" type="text" autocomplete="new-password" name="workNumber" placeholder="0-912-111-2233" length="11"></p-inputMask>
                                        <validation-messages [formCtrl]="workNumberInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-2 col-sm-12">{{"Address" | localize}}</label>
                                    <div class="col-md-10 col-sm-12">
                                        <textarea rows="2" #addressInput="ngModel" [(ngModel)]="officer.address" pInputTextarea autoResize="autoResize" class="form-control m-input" type="text" autocomplete="new-password" placeholder="{{'Address' | localize}}" name="address" maxlength="512"></textarea>
                                        <validation-messages [formCtrl]="addressInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">                                
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-2 col-sm-12">{{"PostalCode" | localize}}</label>
                                    <div class="col-md-10 col-sm-12">
                                        <p-inputMask [style]="{'width':'100%'}" #postalCodeInput="ngModel" mask="99999-99999" [(ngModel)]="officer.postalCode" type="text" autocomplete="new-password" name="postalCode" placeholder="99999-99999" length="10"></p-inputMask>
                                        <validation-messages [formCtrl]="postalCodeInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"AcademicDegree" | localize}} *</label>
                                    <div class="col-md-8 col-sm-12">
                                            <p-dropdown #academicDegreeCombobox [options]="academicDegreesSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" name="academicDegreeId" [(ngModel)]="officer.academicDegreeId" [style]="{'width':'100%'}" required placeholder="{{'Select' | localize}} *"></p-dropdown>
                                            <validation-messages [formCtrl]="academicDegreeCombobox"></validation-messages>
                                    </div>
                                </div>                                
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"StateInfo" | localize}} *</label>
                                    <div class="col-md-8 col-sm-12">
                                            <p-dropdown #stateInfoCombobox [options]="stateInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" name="stateInfoId" [(ngModel)]="officer.stateInfoId" [style]="{'width':'100%'}" required placeholder="{{'Select' | localize}} *"></p-dropdown>
                                            <validation-messages [formCtrl]="stateInfoCombobox"></validation-messages>
                                    </div>
                                </div>                                
                            </div>                           
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12">{{"Contractor" | localize}} *</label>
                                    <div class="col-md-8 col-sm-12">
                                            <p-dropdown #contractorCombobox [options]="contractorsSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" name="contractorId" [(ngModel)]="officer.contractorId" [style]="{'width':'100%'}" required placeholder="{{'Select' | localize}} *"></p-dropdown>
                                        <validation-messages [formCtrl]="contractorCombobox"></validation-messages>
                                    </div>
                                </div>                                
                            </div>                                                     
                        </div>
                        
                    </p-fieldset>                                       
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12">
                        <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!officerForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                        <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
