<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #officerForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header kt-bg-brand">
                    <h4 class="modal-title">
                        <span *ngIf="officer.id && editdisabled">{{"ViewNewOfficer" | localize}}: {{officer.name}}</span>
                        <span *ngIf="officer.id && !editdisabled">{{"EditNewOfficer" | localize}}: {{officer.name}}</span>
                        <span *ngIf="!officer.id">{{"CreateNewOfficer" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p-fieldset class="kt-padding-0" [legend]="l('OfficerInfo')" [toggleable]="true">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"NationalCode" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask mask="999-999999-9"  name="nationalCode" [(ngModel)]="officer.nationalCode" placeholder="999-999999-9" required length="10"></p-inputMask>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"BirthDate" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <primeng-datepicker name="birthDate" [(ngModel)]="officer.birthDate" [isJalali]="true" required></primeng-datepicker>
                                    </div>
                                </div>                                
                            </div> 
                        </div>  
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"Name" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input #nameInput  class="form-control" type="text" name="name" [(ngModel)]="officer.name" pInputText  pKeyFilter="/^[^0-9]+$/" [placeholder]="l('Name')" required maxlength="32">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"Family" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="family" [(ngModel)]="officer.family" pInputText  pKeyFilter="/^[^0-9!]+$/" [placeholder]="l('Family')" required maxlength="32">
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </p-fieldset>

                    <p-fieldset [legend]="l('OfficerInfo')" [toggleable]="true">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"FatherName" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="fatherName" [(ngModel)]="officer.fatherName" pInputText  pKeyFilter="/^[^0-9]+$/" [placeholder]="l('FatherName')" maxlength="32">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"IdNo" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" name="idNo" [(ngModel)]="officer.idNo" pInputText  pKeyFilter="/^[^0-9!]+$/" [placeholder]="l('IdNo')" maxlength="32">
                                    </div>
                                </div>
                            </div>
                        </div>                         
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"WorkNumber" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask mask="0-999-999-9999"  name="workNumber" [(ngModel)]="officer.workNumber" placeholder="0-999-999-9999" length="11"></p-inputMask>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"MobileNumber" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                        <p-inputMask mask="0-999-999-9999"  name="mobileNumber" [(ngModel)]="officer.mobileNumber" placeholder="0-999-999-9999" length="11"></p-inputMask>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">                        
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-2 col-sm-12 text-right">{{"Address" | localize}}</label>
                                    <div class="col-md-10 col-sm-12">
                                        <textarea class="form-control" rows="2" name="address" [(ngModel)]="officer.address" pInputTextarea autoResize="autoResize" [placeholder]="l('Address')" maxlength="256"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-2 col-sm-12 text-right">{{"PostalCode" | localize}}</label>
                                    <div class="col-md-4 col-sm-12">
                                        <p-inputMask mask="99999-99999"  name="postalCode" [(ngModel)]="officer.postalCode" placeholder="99999-99999" maxlength="10"></p-inputMask>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"AcademicDegree" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                            <p-dropdown #academicDegreeCombobox [options]="academicDegreesSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                            name="academicDegreeId" [(ngModel)]="officer.academicDegreeId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                        <validation-messages [formCtrl]="academicDegreeCombobox"></validation-messages>
                                    </div>
                                </div>                                
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"StateInfo" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                            <p-dropdown #stateInfoCombobox [options]="stateInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                            name="stateInfoId" [(ngModel)]="officer.stateInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                        <validation-messages [formCtrl]="stateInfoCombobox"></validation-messages>
                                    </div>
                                </div>                                
                            </div>                           
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-4 col-sm-12 text-right">{{"Contractor" | localize}}</label>
                                    <div class="col-md-8 col-sm-12">
                                            <p-dropdown #contractorCombobox [options]="contractorsSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                            name="contractorId" [(ngModel)]="officer.contractorId" [style]="{'width':'100%'}" [placeholder]="l('Select')" required></p-dropdown>
                                        <validation-messages [formCtrl]="contractorCombobox"></validation-messages>
                                    </div>
                                </div>                                
                            </div>                                                     
                        </div>
                        
                    </p-fieldset>
                                                                        
                        <!-- <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <label class="col-form-label col-md-5 col-sm-12">{{"Code" | localize}}</label>
                                <div class="col-md-7 col-sm-12">
                                    <input class="form-control" type="text" (keypress)="numberOnly($event)" im-insert="true" name="code" [(ngModel)]="officer.code" required maxlength="32">                                    
                                </div>
                            </div>
                        </div> -->
                                                                        
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                    <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!officerForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
