<div>
    <div >    
        <!-- <div class="kt-header-back"></div> -->
        <div id="kt_header_mobile" class="kt-header-mobile">
            <div class="kt-header-mobile__logo">
                <a routerLink="/" target="_blank">
                    <img *ngIf="!appSession.tenant || !appSession.tenant.logoId" [src]="" alt="logo" height="28" />
                    <img *ngIf="appSession.tenant && appSession.tenant.logoId" [src]="remoteServiceBaseUrl + '/TenantCustomization/GetTenantLogo?skin=' + currentTheme.baseSettings.menu.asideSkin + '&tenantId=' + appSession.tenant.id + '&id=' + appSession.tenant.logoId" alt="logo" height="38" />
                </a>
            </div>
        </div>
        <div id="kt_header_mobile_sub" class="kt-header-mobile-sub">
                <div class="kt-header-mobile__toolbar">
                        <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="#kt_widget4_tab11_content" role="tab">
                                            
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#kt_widget4_tab12_content" role="tab">
                                            
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#kt_widget4_tab13_content" role="tab">
                                            
                                    </a>  
                                </li>
                        </ul>   
                </div>
            </div>
        <div class="kt-grid kt-grid--hor kt-grid--root">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                    <!-- BEGIN: Header -->
                    <div class="kt-header kt-grid__item  kt-header--fixed" id="kt_header">
                        <div [class]="containerClass">
                        </div>
                    </div>
                    <div class="kt-header-sub kt-grid__item  kt-header--fixed" id="kt_header_sub">
                            <div [class]="containerClass">
                                <div class="kt-header__topbar-item d-none d-lg-block subscription-warning">
                                        <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#kt_widget4_tab11_content" role="tab">
                                                            
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#kt_widget4_tab12_content" role="tab">
                                                            
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#kt_widget4_tab13_content" role="tab">
                                                            
                                                    </a>  
                                                </li>
                                        </ul>                                    
                                </div>   
                            </div>
                        </div>
                    <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                        <div [class]="containerClass + ' kt-grid kt-grid--ver'">
                            <div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">                                       
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      