<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form *ngIf="active" #regionInfoForm="ngForm" novalidate (ngSubmit)="save()">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span *ngIf="regionInfo.id && editdisabled">{{"ViewNewRegionInfo" | localize}}: {{regionInfo.name}}</span>
                            <span *ngIf="regionInfo.id && !editdisabled">{{"EditNewRegionInfo" | localize}}: {{regionInfo.name}}</span>
                            <span *ngIf="!regionInfo.id">{{"CreateNewRegionInfo" | localize}}</span>
                        </h4>
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">                            
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-5 col-sm-12 text-right">{{"StateInfoName" | localize}}</label>
                                    <div class="col-md-7 col-sm-12">
                                        <p-dropdown #stateInfoCombobox [options]="stateInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30" (onChange)="getCities($event.value)"
                                            name="stateInfoId" [(ngModel)]="regionInfo.stateInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')"></p-dropdown>
                                        <validation-messages [formCtrl]="stateInfoCombobox"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                    <div class="row">
                                        <label class="col-form-label col-md-5 col-sm-12 text-right">{{"CityInfoName" | localize}}</label>
                                        <div class="col-md-7 col-sm-12">
                                            <p-dropdown #cityInfoCombobox [options]="cityInfosSelectItems" [filter]="true" [virtualScroll]="true" [itemSize]="30"
                                                name="cityInfoId" [(ngModel)]="regionInfo.cityInfoId" [style]="{'width':'100%'}" [placeholder]="l('Select')"></p-dropdown>
                                            <validation-messages [formCtrl]="cityInfoCombobox"></validation-messages>
                                        </div>
                                    </div>
                                </div>                            
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-5 col-sm-12  text-right">{{"Code" | localize}}</label>
                                    <div class="col-md-7 col-sm-12">
                                        <input class="form-control" type="text" (keypress)="numberOnly($event)" im-insert="true" name="code" [(ngModel)]="regionInfo.code" required maxlength="32">                                    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-form-label col-md-5 col-sm-12  text-right">{{"Name" | localize}}</label>
                                    <div class="col-md-7 col-sm-12">
                                        <input #nameInput class="form-control" type="text" im-insert="true" name="name" [(ngModel)]="regionInfo.name" required maxlength="32">                                    
                                    </div>
                                </div>
                            </div>
                        </div>                                                
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                        <button *ngIf="!editdisabled" type="submit" class="btn btn-primary" [disabled]="!regionInfoForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    